.MessageLine {
    margin-bottom: 10px;
    display: flex;
}

.MessageDate {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px #ccc;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.MessageItem {

}

.MessageText {

}







