
/* eslint-disable import/no-anonymous-default-export */
*{
    box-sizing: border-box;
}

body {
    background-color: #d2dbdc;
    margin: 0;
    font-family: 'Segoe UI', Helvetica Neue, Verdana, sans-serif;
}

.app-window{
    display: flex;
    height: 100vh;
    background-color: #ededed;
}


.sidebar {
    width: 35%;
    display: flex;
    max-width: 415px;
    flex-direction: column;
    border-right: 1px solid #ddd;


} 

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header--avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header--buttons {
    display: flex;
}

.header--btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contentarea {

} 














