
/* eslint-disable import/no-anonymous-default-export */
*{
    box-sizing: border-box;
}

body {
    background-color: #d2dbdc;
    margin: 0;
    font-family: 'Segoe UI', Helvetica Neue, Verdana, sans-serif;
}

.app-window{
    display: flex;
    height: 100vh;
    background-color: #ededed;
}


.sidebar {
    width: 35%;
    display: flex;
    max-width: 415px;
    flex-direction: column;
    border-right: 1px solid #ddd;
} 

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header--avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header--buttons {
    display: flex;
}

.header--btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contentarea {
    flex: 1;
}  

.search{
    background-color: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
    line-height: 10px;
}

.search--input input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
}

.search--input {
    background-color: white;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    line-height: 10px;
    padding: 0 10px;
}

.chatList{
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
}

.chatList::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
 }
 
 .chatList::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.2);
  }












